

/*This is for the main elements.*/
body{margin: 2em 18em 4em 18em}
h1 {text-align: center;
font-family: "Playfair Display";
font-variant: small-caps;
font-size: 400%; 
margin: 1em 0em 0em 0em}
h2 {font-family: "Playfair Display";
font-size: 150%; 
margin: 2em 0em 2em 0em}
p {margin: 1.5em 0em 0em 0em; 
text-align: justify; 
font-family: "Tiro Bangla";}


/*This is for the menu.*/
ul {
  list-style-type: none;
  margin: 2em 0em 2em 0em;
  text-align: center;
  font-family: "Tiro Bangla";
  list-style-type: none;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: hidden;
  text-align: center;
}
ul:before,
ul:after {
  background-color: darkgray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
ul:before {
  right: 0.5em;
  margin-left: -50%;
}
ul:after {
  left: 0.5em;
  margin-right: -50%;
}
li {
  display: inline;
  text-align: center;
}


/*This is for the lists in the main text of the books and talks tabs.*/
.maintext ul{
	margin:0.5em 0em 1em 0em
	}
.maintext li{
display:block;
text-align: left;
margin: 0em 0em 0.75em 1em;
padding: 0}
.maintext ul:before {content:none}
.maintext ul:after {content:none}


/*This is the link styling.*/
.menutext ul li a:link {
	text-decoration: none;
	color: black;
}
.menutext ul li a:hover {
    font-style:italic;
	text-decoration:none;
	color: black
}
.menutext ul li a:active {
	font-weight: bold;
	color: black;
}
.menutext ul li a:visited {
  text-decoration: none;
  color: black;
}

.maintext a:link {
  text-decoration: none;
  color: black;
}

.maintext a:visited {
  text-decoration: none;
  color: black;
  
}
.maintext a:hover {
  text-decoration: underline;
  color:black
}
.maintext a:active {
  text-decoration: underline;
  color: black
}


/*This handles responsiveness.*/
@media only screen and (max-width: 768px) {   
ul{overflow: visible}
body{margin: 1em}
}
@media only screen and (max-width: 1200px) {
ul:before {content: none}
ul:after {content: none}
}